flask==2.3.3
flask-cors==4.0.0
flask-socketio==5.3.6
opencv-python==4.12.0.88
ultralytics==8.3.175
requests==2.32.4
python-dotenv==1.0.0
numpy==2.2.6
pillow==11.3.0
python-socketio==5.9.0
eventlet==0.33.3
torch==2.8.0
torchvision==0.23.0
matplotlib==3.10.5
pandas==2.3.1
scipy==1.16.1
tqdm==4.67.1
psutil==7.0.0
py-cpuinfo==9.0.0
ultralytics-thop==2.0.15 